b {
  background-color: yellow;
}
.loading {
  margin-top: 50px;
  margin-left: 650px;
}
input {
  width: 580px;
  height: 50px;
  border-radius: 10px;
  border: 1px solid #eaeaea;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, 0.05);
  color: #363636;
  padding-left: 60px;
  background-image: url(../images/search.png);
  background-repeat: no-repeat;
  background-position: 15px 15px;
}
.block_articles {
  width: 1290px;
}
.block_articles_form {
  margin: 50px 0 40px 60px;
}
.block_articles_form > p {
  font-size: 16px;
  font-weight: 600;
}
.block_articles > p {
  margin-left: 60px;
  margin-block-end: 0;
}
hr {
  width: 1290px;
  margin-left: 60px;
}
.articles {
  border: 1px solid #eaeaea;
  border-radius: 10px;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, 0.05);
  offset: 0, 8px;
}
.container_articles {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 45px;
  row-gap: 45px;
  margin: 45px 75px 75px 60px;
}
.articles_img {
  width: 400px;
  height: 217px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.articles_data {
  display: flex;
  padding-left: 20px;
}
.articles_data > img {
  margin: 15px 15px 15px 0px;
  width: 20px;
}
.articles_text {
  margin-left: 20px;
  height: 243px;
}
.articles_text > p {
  overflow: hidden;
  height: 96px;
  font-size: 16px;
  font-weight: 400;
}
h1 {
  font-size: 24px;
  width: 340px;
  font-weight: 400;
  margin-bottom: 20px;
  height: 58px;
}
.articles_data > p {
  font-size: 16px;
  width: 330px;
  font-weight: 400;
}
.arrowRight {
  cursor: pointer;
}

.arrowRight > a {
  text-decoration: none;
  color: #363636;
  font-weight: 700;
  margin-right: 10px;
}
