.article_main {
  height: auto;
}

.article_picture {
  position: absolute;
  height: 100%;
}
.article_picture > a {
  position: absolute;
  cursor: pointer;
  text-decoration: none;
  left: 0;
  bottom: 0;
  height: 24px;
  width: 160px;
  margin: 35px 0 50px 150px;
  color: #363636;
  width: 190px;
  font-size: 16px;
  font-weight: 700;
}
.article_text {
  position: relative;
  margin: 0px 75px 104px 75px;
  top: 150px;
  padding: 35px 75px 50px 75px;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, 0.05);
  offset: 0, 8px;
  background-color: white;
  height: auto;
}
.article_text > h1 {
  font-size: 24px;
  margin-bottom: 50px;
  padding: 0 75px;
  text-align: center;
  height: auto;
  font-weight: 400;
}
.article_text > p {
  font-size: 18px;
}
.article_picture > img {
  width: 1440px;
  height: 245px;
}
